node_modules
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage
.tmp
.cache

.git
.gitignore
.gitattributes
.DS_Store
.vscode
.idea

.env
.env.*
*.local

docker-compose*.yml
*.tar
*.tgz
*.zip

**/__pycache__/
**/*.swp
**/*.swx
Thumbs.db